# clusters refers to the remote service.
clusters:
- name: webhook-token-authz-cluster
  cluster:
    server: {{ kube_webhook_authorization_url }}
    insecure-skip-tls-verify: {{ kube_webhook_authorization_url_skip_tls_verify }}
{% if kube_webhook_authorizaton_ca_data is defined %}
    certificate-authority-data: {{ kube_webhook_athorization_ca_data }}
{% elif kube_webhook_autorization_ca is defined %}
    certificate-authority-data: {{ kube_webhook_autorization_ca }}
{% endif %}
# users refers to the API server's webhook configuration.
users:
- name: webhook-token-authz-user

# kubeconfig files require a context. Provide one for the API server.
current-context: webhook-token-authz
contexts:
- context:
    cluster: webhook-token-authz-cluster
    user: webhook-token-authz-user
  name: webhook-token-authz
